* {
    font-family: 'Space Grotesk', sans-serif;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #000000;
    color: #ECEDEF;
    height: 100%;
    padding: 0px;
    margin: 0
}

h1 {
    text-align: left;
    font-size: 32px;
    margin: 0;
}

p {
    text-align: left;
    font-size: 14px;
    margin: 0 0 8px;
}

.baseboard-box {
    background-color: #272C32;
    color: #ECEDEF;
    text-align: center;
}
.baseboard {
    max-width: 1440px;
    display: flex;
    gap: 12px;
    margin: auto;
    padding: 10px 20px 28px;
    font-size: 0.875em;
}
.baseboard-column {
    width: 33%;
}
.baseboard-column-right {
    text-align: right;
    width: 33%;
}
@media (max-width: 768px) {
    .baseboard {
        gap: 24px;
        padding: 10px 20px 20px;
    }
}

/* +++++++++++++ TOPO - CONFIGURAÇÕES +++++++++++++ */
.top-section {
    position: relative;
    background-color: #111517;
    color: #ECEDEF;
    padding: 20px 20px;
    height: auto;
}
.top-section.top {
    border-bottom: 1px solid #272C32;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.card {
    margin-bottom: 16px;
}

.config-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 12px;
}
@media (max-width: 768px) {
    .config-row {
        display: flex;
        flex-direction: column;
    }
    .container {
        padding: 0;
    }
}

/* +++++++++++++ TOPO - TIPOGRAFIA +++++++++++++ */
.input-group-teams, .input-group-potes {
    display: block;
    background-color: #1C2125;
    border-radius: 12px;
    padding: 20px;
}

.input-group-teams label {
    font-size: 16px;
    font-weight: bold;
    color: #7a84ff;
}
.input-group-potes label {
    font-size: 16px;
    font-weight: bold;
    color: #7a84ff;
}
.input-group-potes p {
    color: #858787;
    margin-right: 8px;
}

.line {
    border-top: 1px solid #3A3F45;
    border-bottom: 12px solid transparent;
    margin: 0 -20px 0 -20px;
}

.input-group-colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected-colors {
    padding-bottom: 2px;
}

/* +++++++++++++ TOPO - BOTÕES POTES E TIMES +++++++++++++*/
.custom-select-container {
    position: relative;
    background-color: #272C32;
    border-radius: 8px;
    margin: 8px 0 24px 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}
#numPotesSelect {
    width: 128px;
}
#numTeamsSelect {
    width: 128px;
}

.select-selected {
    background-color: var(--card-bg);
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-selected:hover {
    background-color: #30363D;
}
.select-selected:after {
    /* content: "▼";
    font-size: 10px; */
    display: none !important;
}
.dropdown-arrow {
    width: 16px;
    height: 16px;
    margin-inline-start: 12px;
    fill: #ECEDEF;
    transition: transform 0.2s ease;
    display: block;
}
.dropdown-arrow.open {
    transform: rotate(180deg);
}

.select-items {
    position: absolute;
    background-color: #272C32;
    border: none;
    border-radius: 8px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    margin: 4px 0 0 0;
    overflow: hidden;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    display: block !important;
    visibility: hidden;
}
.select-items.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
}

.select-items div {
    padding: 10px 16px;
    cursor: pointer;
    transition: background 0.2s;
}
.select-items div[data-value] {
    border-bottom: 1px solid #3A3F45;
}
.select-items div[data-value]:last-child {
    border-bottom: none;
}
.select-items div:hover {
    background-color: #4A56E2;
}

/* Cores dos times */
.colors-grid-simple {
    /* background-color: #272C32;
    padding: 8px;
    border-radius: 28px; */
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 8px;
}
@media (max-width: 1520px) {
    .colors-grid-simple {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 12px;
        padding: 0 0 0 8px;
    }
}

.color-static-square {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.color-static-square:hover {
    transform: scale(1.15);
}
.color-static-square.selected {
     /* border: 2px solid #ECEDEF;*/
    position: relative;
}
.color-static-square.selected::after {
    content: '×';
    color: #ECEDEF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}
.color-static-square.selected[title="Amarelo"]::after {
    color: #111517;
}
.color-static-square.selected[title="Ciano"]::after {
    color: #111517;
}
.color-static-square.selected[title="Branco"]::after {
    color: #111517;
}
.color-static-square.rejected {
    /*filter: grayscale(0.8);*/
    opacity: 0.1;
    cursor: not-allowed;
    transition: 0.3s ease;
}

/* +++++++++++++ ÁREA DE POTES +++++++++++++ */
.potes-container {
    padding: 20px;
    color: #ECEDEF;
}
.potes-row {
    display: grid;
    max-width: 1440px;
    margin: 12px auto 8px;
    padding: 0 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.pote-column {
    background-color: #272C32;
    border-radius: 8px;
    padding: 8px 0;
}
.pote-column label {
    display: block;
    margin-bottom: 8px;
    padding: 0 12px;
    font-size: 16px;
    font-weight: bold;
    color: #ECEDEF;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 160px;
    background: #272C32;
    color: #ECEDEF;
    border: none;
    /*border-top: 1px solid #3A3F45;*/
    border-bottom: 1px solid #3A3F45;
    padding: 12px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.4;
    resize: none;
}
textarea:hover {
    outline: 1px solid #ECEDEF;
}
textarea:focus {
    outline: 2px solid #4A56E2;
}
/*Nomes dos jogadores já sorteados */
textarea[readonly] {
    cursor: not-allowed;
    border-color: none;
    font-family: inherit;
    color: #ECEDEF !important;
}
/*Scroolbar personalizada*/
textarea::-webkit-scrollbar {
    width: 8px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #5A6266;
    border-radius: 8px;
}
textarea::-webkit-scrollbar-thumb:hover {
    background-color: #858787;
}
textarea::-webkit-scrollbar-track {
    background: #272C32;
}

@media (max-width: 768px) {
    .potes-container {
        display: flex !important;
        margin: 24px 0 12px 0;
        padding: 0;
        gap: 12px;
        overflow-x: auto !important;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
    }
    .potes-container::-webkit-scrollbar {
        display: none;
    }
    .potes-row {
        display: flex;
        max-width: none;
        margin: 0 40px;
    }
    .pote-column {
        flex: 0 0 90vw;
        min-width: 90vw;
        scroll-snap-align: center;
    }
    textarea {
        font-size: 18px;
        height: 180px;
    }
}

/*Contador de jogadores*/
.pote-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
    padding: 0 8px;
}
.player-count-label {
    padding-bottom: 4px;
    font-size: 14px;
    color: #858787;
}

/*Botão Limpar*/
.btn-clear {
    background: #402225;
    color: #e73b3b;
    padding: 4px 12px;
    border: none;
    border-radius: 24px;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-clear:hover {
    background: #e73b3b;
    color: #ECEDEF;
}

button.btn-clear:disabled {
    background-color: #111517;
    color: #858787;
    cursor: not-allowed;
}

/* +++++++++++++ BOTÕES DE SORTEIO +++++++++++++ */
.Btn-container {
    background-color: #111517;
    padding: 0 20px;
}
.actions-row {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    padding: 24px 20px;
    justify-content: space-between;
    align-items: center;
}
.drawdiv, .shareresetdiv {
    display: flex;
}
button svg {
    flex-shrink: 0;
}
@media (max-width: 768px) {
    .actions-row {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .drawdiv, .shareresetdiv {
        display: flex;
        flex-direction: column;
    }
}

#btnFullDraw, #btnSingleDraw, #btnPoteDraw, #btnShare, #btnReset {
    margin: 4px;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    vertical-align: middle;
}
#btnFullDraw, #btnSingleDraw, #btnPoteDraw {
    background-color: #ECEDEF;
    border: none;
    font-weight: bold;
}
#btnShare {
    background-color: #4A56E2;
    border: none;
    border-radius: 48px;
    color: #ECEDEF;
}
#btnReset {
    background-color: transparent;
    padding: 14px 24px;
    border: 1px solid #4A56E2;
    color: #858787;
}
#btnFullDraw:hover, #btnSingleDraw:hover, #btnPoteDraw:hover {
    background-color: #8E96FF;
    transition: background-color 200ms;
}
#btnShare:hover {
    background-color: #7a84ff;
    transition: background-color 200ms;
}
#btnReset:hover {
    background-color: #272C32;
    transition: background-color 200ms;
}

#btnFullDraw:disabled, #btnSingleDraw:disabled, #btnPoteDraw:disabled {
    background-color: #111517;
    color: #30363D;
    cursor: not-allowed;
    transition: background-color 200ms;
}

/*Botões flutuantes*/
@media (max-width: 768px) {
    .drawdiv {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%); /* Centraliza horizontalmente */
        z-index: 9999;

        background-color: rgba(16, 20, 22, 0.95); /* Fundo levemente transparente */
        padding: 12px;
        border-radius: 16px;
        border: 1px solid #383F47;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8px); /* Efeito de vidro borrado */
        
        display: flex;
        gap: 8px;
        width: 90%;         /* Largura quase total da tela */
        justify-content: center;
    }
    .drawdiv button {
        flex: 1;
        padding: 12px 8px;
        font-size: 12px;    /* Texto menor para não quebrar linha */
        white-space: nowrap;
        margin: 0;
    }
    .shareresetdiv {
        margin-top: 10px;
        justify-content: center;
    }
    body {
        padding-bottom: 100px;
    }
}

/* +++++++++++++ CAMPO COM OS RESULTADOS +++++++++++++ */
.results-container {
    margin: 24px auto;
    gap: 12px;
}

.results-header-actions {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
}

.results-header-actions h2 {
    font-size: 20px;
    margin: 0;
    color: #ECEDEF;
}

.header-buttons {
    display: flex;
    gap: 8px;
}

/* Esconde o número pote por padrão */
.info-pote { display: none; }
.info-initial { display: inline; }

/* Quando o pai tiver a classe 'view-mode-pote', inverte */
.view-mode-pote .info-pote { display: inline; }
.view-mode-pote .info-initial { display: none; }

.btn-toggle-info {
    background: #101416;
    color: #ECEDEF;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 24px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn-toggle-info:hover {
    background: #272C32;
    transition: all 0.2s ease;
}
.btn-toggle-info.active {
    background: #ECEDEF;
    color: #101416;
    transition: all 0.2s ease;
}
.btn-toggle-info.active:hover {
    background: #ECEDEF;
    color: #101416;
    transition: all 0.2s ease;
}

/* Ajuste para o carrossel não encostar no título */
.teams-carousel-wrapper {
    display: grid;
    margin: 0 auto;
    padding: 12px 40px;
    max-width: 1440px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    overflow-x: auto;
    gap: 12px;
}

.team {
    background: #1C2125;
    border-radius: 12px;
    padding: 20px 2px 20px 0px;
    /* border-top: 4px solid var(--team-color); /* Usaremos JS para injetar a cor */
    /*transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.5s ease;*/
}
/*.team.show {
    padding-left: 0;
    padding-right: 2px;
}*/

.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.name-and-color {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding-left: 14px;
    gap: 8px;
}
.info-text {
    text-align: right;
    font-size: 14px;
    font-weight: 200;
    color: #858787;
    padding-right: 14px;
}

.carousel-dots {
    display: none;
}
@media (max-width: 768px) {
    .results-container {
        margin: 24px 0 12px 0;
        gap: 12px;
    }
    .results-container::-webkit-scrollbar {
        display: none;
    }
    .results-header-actions {
        padding: 0 20px;
    }
    .teams-carousel-wrapper {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
        padding: 12px 20px;
    }
    .team {
        flex: 0 0 100%;
        scroll-snap-align: center;
    }

    /*Bolinhas dos carrosséis*/
    .carousel-dots {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin: 8px 0 16px 0;
    }
    .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #5A6266;
        transition: background-color 0.3s, transform 0.3s;
    }
    .dot.active {
        background: #ECEDEF;
        transform: scale(1.2);
    }
}

/*Desenho do campo*/
.pitch-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: #101416;
    border-radius: 0px;
    overflow: hidden;
    border: 1px solid #333;
}

.football-pitch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #5A6266;
    border-top: none;
    border-radius: 0 0 0px 0px;
    box-sizing: border-box;
    background-color: #101416;
}
.line-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #5A6266;
    z-index: 2;
}
.left-corner-kick {
    position: absolute;
    bottom: 94%;
    left: -6%;
    width: 12%;
    height: 6%;
    border: 1px solid #5A6266;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    box-sizing: border-box;
    border-top-color: transparent;
}
.right-corner-kick {
    position: absolute;
    bottom: 94%;
    left: 94%;
    width: 12%;
    height: 6%;
    border: 1px solid #5A6266;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    box-sizing: border-box;
    border-top-color: transparent;
}
.penalty-box {
    position: absolute;
    top: 0%;
    left: 26%;
    width: 48%;
    height: 16%;
    border: 1px solid #5A6266;
    background-color: #101416;
    border-top: none;
    box-sizing: border-box;
    z-index: 1;
}
.six-yard-box {
    position: absolute;
    top: 0%;
    left: 39%;
    width: 22%;
    height: 8%;
    border: 1px solid #5A6266;
    border-top: none;
    box-sizing: border-box;
    z-index: 2;
}
.penalty-spot {
    position: absolute;
    top: 12%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: #5A6266;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.center-circle {
    position: absolute;
    bottom: -4%;
    left: 25%;
    width: 50%;
    height: 25%;
    border: 1px solid #5A6266;
    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;
    box-sizing: border-box;
    border-bottom-color: transparent;
}
.penalty-arc {
    position: absolute;
    top: 12%;
    left: 32%;
    width: 36%;
    height: 18%;
    border: 1px solid #5A6266;
    border-top-color: transparent;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    box-sizing: border-box;
    transform: translateY(-50%);
}

/* Jogadores no campo */
.player-marker {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.player-name {
    display: block;
    margin-top: 4px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
    color: #ECEDEF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.player-pin {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    clip-path: polygon(
        50% 0%, 80.9017% 9.5492%, 97.5528% 34.5492%, 97.5528% 65.4508%,
        80.9017% 90.4508%, 50% 100%, 19.0983% 90.4508%, 2.4472% 65.4508%,
        2.4472% 34.5492%, 19.0983% 9.5492%
    );
    transition: transform 0.4s ease;
    /*transform: rotate(270deg);*/
}
.pin-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes pinSurgindo {
    0% {
        opacity: 0;
        transform: translate(-50%, -35%); /* Começa um pouco mais abaixo */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%); /* Termina na posição central correta */
    }
}
.animar-pin {
    animation: pinSurgindo 0.25s ease-out forwards;
}

/* Garantir que o pin comece invisível se tiver a classe de animação */
.player-marker.animar-pin {
    opacity: 0;
}

/* Posicionamento dos jogadores no campo*/
.player-marker { position: absolute; transform: translate(-50%, -50%); transition: all 0.5s ease; }

.pos-gk { top: 16%; left: 50%; }
.f1-d1 { top: 40%; left: 32%; }
.f1-d2 { top: 40%; left: 68%; }
.f1-m1 { top: 76%; left: 24%; }
.f1-a1 { top: 76%; left: 76%; }
.f2-d1 { top: 44%; left: 50%; }
.f2-m1 { top: 66%; left: 18%; }
.f2-m2 { top: 66%; left: 82%; }
.f2-a1 { top: 88%; left: 50%; }
.f3-d1 { top: 40%; left: 50%; }
.f3-m1 { top: 46%; left: 24%; }
.f3-m2 { top: 46%; left: 76%; }
.f3-a1 { top: 76%; left: 50%; }
.pos-5-d1 { top: 40%; left: 30%; }
.pos-5-d2 { top: 40%; left: 70%; }
.pos-5-m1 { top: 60%; left: 50%; }
.pos-5-a1 { top: 80%; left: 35%; }
.pos-5-a2 { top: 80%; left: 65%; }
.f0-m1 { top: 65%; left: 50%; }
.f2L-d1 { top: 60%; left: 30%; }
.f2L-d2 { top: 60%; left: 70%; }
.f3L-d1 { top: 44%; left: 50%; }
.f3L-m1 { top: 72%; left: 26%; }
.f3L-m2 { top: 72%; left: 74%; }

/* Jogadores reservas */
.bench-container {
    margin-top: 14px;
    padding: 0 14px;
}
.bench-title {
    margin-bottom: 8px !important;
    font-size: 14px;
    color: #ECEDEF;
    
}
.bench-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    flex-wrap: wrap;
}
.bench-player-item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 8px;
    color: #ECEDEF;
    border-top: 1px solid #2C3134;
    transition: transform 0.2s ease;
}
.bench-player-item:hover {
    background-color: #272C32;
}
.player-pin.mini {
    width: 32px;
    height: 32px;
    font-size: 16px;
    flex-shrink: 0;
}
.bench-player-name {
    font-size: 14px;
    color: #ECEDEF;
    white-space: nowrap;
}

/* Modo de visualização em lista */
.team-list-view {
    display: none; /* Começa escondida */
    background: #101416;
    padding: 0px 10px;
    margin-right: -2px;
}
.layout-mode-list .pitch-container,
.layout-mode-list .bench-container {
    display: none; /* Esconde o campo e os reservas separados */
}
.layout-mode-list .team-list-view {
    display: block; /* Mostra a lista unificada */
}
.list-color-team {
    padding: 0;
}
.list-header {
    display: flex;
    justify-content: space-between;
    color: #858787;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 0 12px;
}
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0 6px 0;
    margin: 0 -10px;
    border-top: 1px solid #1C2125;
}
.player-name-list {
    color: #ECEDEF;
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
}
.player-pote-list {
    color: #858787;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
    margin-right: 10px;
}

.hidden { display: none; }